<html>
  <head>
  </head>
  <body>
    <h1>Want to Logout?</h1>
    <form action="/logout" method='post'>
      <!-- logout-->
      <br>
        <input type='submit' name='submit' value="Logout"></input>
      </form>
    </body>
</html>
